@import url('./normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer reset, init, design;

@layer reset {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: 0;
    border-color: inherit;
  }

  menu {
    list-style: none;
  }
}

@layer init {
  :root {
    font-family: var(--montserrat);
    font-size: var(--font-size-normal);
    color: var(--black);

    --color-copper: #B07840;
    --color-dark-copper: #A47349;
    --white: #FFFFFF;
    --black: #000000;
    --color-beige: #EBDAD0;
    --color-bg-price-card: #E2C9BB;
    --color-error: #C0392B;
    --color-forms: #302F2E;

    --montserrat: "Montserrat", sans-serif;
    --playfair-display: "Playfair Display", serif;
    --instrument-serif: "Instrument Serif", serif;

    --font-size-normal: 1rem;

    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer design {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    min-height: 100vh;
  }

  .swiper{
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 3.5rem;
    position: relative;
  }

  .swiper__item {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    cursor: pointer;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev img,
  .swiper-button-next img {
    object-fit: contain;
  }

  .page-header__navigation {
    margin: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-header:has(.hamburger.active) .navbar {
    display: block;
    width: 100%;
  }

  .page-header:has(.hamburger.active) .navbar__menu {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 1.75rem 0;
    gap: 1.25rem;
    font-weight: var(--font-weight-semibold);
    text-align: center;
  }

  .page-header:has(.hamburger.active) .navbar__menu a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
  }

  .page-header__brand-text {
    align-items: center;
    line-height: 1.2;
    font-size: 1.25rem;
    font-family: var(--playfair-display);
    font-weight: var(--font-weight-semibold);
  }

  .page-header__brand-subtitle {
    text-align: center;
    display: block;
    font-size: 1rem;
    padding-top: 0.25rem;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
  }

  .hamburger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    background: var(--black);
    transition: all 0.3s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 0;
  }

  .hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .hamburger span:nth-child(3) {
    bottom: 0;
  }

  .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }

  .page-header__brand a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: var(--black);
  }

  .page-header__brand-logo {
    width: 60px;
    height: auto;
    object-fit: contain;
  }

  .page-footer::before {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--black);
    margin: 0 1.5rem 2rem 1.5rem;
  }

  .page-footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "brand-container"
      "menu"
      "services"
      "contact";
    justify-items: center;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .page-footer__brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.125rem;
    grid-area: brand-container;
  }

  .page-footer__column {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: 2rem;
  }

  .page-footer__list {
    list-style: none;
  }

  .page-footer__link {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    font-size: 1rem;
    padding-bottom: .625rem;
  }

  .page-footer__link:hover {
    text-decoration: underline;
  }

  .page-footer__title {
    font-size: 1.5rem;
  }

  .page-footer__brand-text {
    font-family: var(--playfair-display);
    font-weight: var(--font-weight-semibold);
    white-space: nowrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .page-footer__subtitle {
    display: block;
    text-align: center;
  }

  .page-footer__brand-logo {
    width: 150px;
    height: auto;
    object-fit: contain;
  }

  .page-footer__menu {
    grid-area: menu;
  }

  .page-footer__services {
    grid-area: services;
  }

  .page-footer__contact {
    grid-area: contact;
  }

  .page-footer__socials {
    display: flex;
    gap: .75rem;
  }

  .page-footer__brand-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-footer__social-link {
    display: inline-block;
  }

  .page-footer__city {
    display: block;
    padding-top: .25rem;
  }

  .page-footer__bottom {
    background-color: var(--black);
    height: 2.5rem;
    text-align: center;
    align-content: center;
  }

  .page-footer__copyright {
    font-size: .75rem;
    color: var(--white);
  }

  @media (min-width: 600px) {
    .page-footer__grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: ". brand-container ."
        "menu services contact";
    }

  }

  @media (min-width: 960px) {
    .navbar {
      display: block;
    }

    .navbar__menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar__link {
      font-weight: var(--font-weight-semibold);
      font-family: var(--montserrat);
      font-size: 1rem;
      color: var(--black);
      text-decoration: none;
      text-align: center;
      padding: 1.25rem;
    }

    .page-header__brand-text {
      font-size: 1.25rem;
    }

    .page-header__brand-subtitle {
      font-size: 1rem;
      padding-top: .25rem;
    }

    .hamburger {
      display: none;
    }

    .page-header__brand-logo {
      width: 5rem;
    }

    .page-footer__brand-container {
      flex-direction: row;
      gap: 1.25rem;
      align-items: center;
      align-self: center;

    }

    .page-footer__brand-text {
      padding-top: 0;
    }

    .page-footer__grid {
      grid-template-columns: 4fr 1fr 1.5fr 1.5fr;
      grid-template-areas: "brand-container menu services contact";
      align-items: start;
      justify-items: start;
      padding-left: 3rem;
      padding-right: 3rem;
      text-align: left;
      gap: 2rem;
    }
  }
}